@model AddClient
<form action="create" method="post" >
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label"><p class="p3">Имя </p></label>
    <input asp-for="Name" type="text" class="inp1"  >
    </div>
  <button type="submit" class="btn6">Сохранить</button>
</form>