@* @{
    ViewData["Title"] = "Home Page";
} *@
<div class="div6">
   <div class="div7">
    <h1>Добро пожаловать!🤍</h1>
   </div>
   <div class="div8">
   <div class="div11"> <a href="/client/index"><button class="btn11" type="button">Клиенты</button></a></div>
     <div class="div12"><a href="/order/index"><button class="btn11" type="button">Заказы</button></a></div> 
   </div>
</div>
